@model IEnumerable<Viljaladu.Models.Auto>


<h2>Autod</h2>

<table class="table">
    <tr>
        <th>
            <b>Auto Number</b>
        </th>
        <th>
            <b>Sisenemismass</b>
        </th>
        <th>
            <b>Lahkumismass</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("AutoDetailid", "Autod", new { id = item.id })">
                @Html.DisplayFor(modelItem => item.autoNr)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sisenemisMass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lahkumisMass)
            </td>
        </tr>
    }

</table>
